In [52]:
import pandas as pd
import numpy as np

data = {
    '번호':['1번','2번','3번','4번','5번','6번','7번','8번'],
    '이름':['홍길동','유관순','이순신','강감찬','김구','김유신','홍길자','홍길순'],
    '달러':['$19,700','$18,400','$16,800','$18,700','$18,800','$20,200','$18,800','$19,000'],
    '우대':[90,40,80,40,15,80,55,100]
}

In [53]:
df = pd.DataFrame(data)
df
df.set_index('번호')
df

   번호   이름       달러   우대
0  1번  홍길동  $19,700   90
1  2번  유관순  $18,400   40
2  3번  이순신  $16,800   80
3  4번  강감찬  $18,700   40
4  5번   김구  $18,800   15
5  6번  김유신  $20,200   80
6  7번  홍길자  $18,800   55
7  8번  홍길순  $19,000  100

In [49]:
df['금액'] = 0
money = df['달러'].str.replace("$","").str.replace(",","")
money
df['금액'] = money.astype(int) + (money.astype(int) * df['우대'])
df

# 우대ㅔ 50인사람만 저굥해서금액을 산출
#  우대가 50% 달려익력ㅏ라햇고 공ㅇ개줌은 먹지않앗다.

filt = df['우대']<50
df.loc[filt,'결과'] = df['달러']
df.loc[~(filt), '결과'] = money.astype(int) + (money.astype(int) * df['우대'])
df

   번호   이름       달러   우대       금액       결과
0  1번  홍길동  $19,700   90  1792700  1792700
1  2번  유관순  $18,400   40   754400  $18,400
2  3번  이순신  $16,800   80  1360800  1360800
3  4번  강감찬  $18,700   40   766700  $18,700
4  5번   김구  $18,800   15   300800  $18,800
5  6번  김유신  $20,200   80  1636200  1636200
6  7번  홍길자  $18,800   55  1052800  1052800
7  8번  홍길순  $19,000  100  1919000  1919000

In [54]:
def change(data):
    if data['우대']>=50: return data['달러'] + data['달러'] * data['우대']*0.01
    else: return data['달러']
    
df['금액'] = df.apply(change)
df

KeyError: '우대'